<%= page_header do %>
  <h1>
    <% if @user.avatar.attached? %>
      <%= image_tag(@user.avatar.variant(:thumb), alt: @user.full_name, class: "img-polaroid") %>
    <% else %>
      <%= avatar_profile_link @user, {}, class: '' %>
    <% end %>
    <%= @user.full_name %>
  </h1>
<% end %>

<%= link_to "Albums", albums_path(@user), class: 'btn' %>

<% if signed_in? %>
  <span id="friend-status">
    <% if current_user == @user %>
    <% elsif current_user.friends.include?(@user) || current_user.pending_friends.include?(@user) %>
      <%= link_to "Edit Friendship", edit_user_friendship_path(friend_id: @user), class: 'btn btn-primary' %>
    <% else %>
      <%= link_to "Add Friend", new_user_friendship_path(friend_id: @user), class: 'btn btn-primary', id: 'add-friendship', data: { friend_id: @user.to_param} %>
  <% end %>
  </span>
<% end %>

<% if @statuses %>
  <% @statuses.each do |status| %>
    <div class="well">
      <%= status.content %>
      <hr />
      <%= link_to time_ago_in_words(status.created_at), status_path(status) %> ago
    </div>
  <% end %>
<% end %>
