
  <h1>Sign Up</h1>


<div class="row">
  <div class="col-md-6">
    <h2>Your Information</h2>
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: 'form-horizontal' }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="form-group">
        <label for="first_name" class="col-md-3 control-label">First name</label>
        <div class="col-md-8">
        <%= f.input :first_name, label: false, input_html: { class: 'input-xlarge' } %>
        </div>
      </div>
      <div class="form-group">
        <label for="last_name" class="col-md-3 control-label">Last name</label>
        <div class="col-md-8">
          <%= f.input :last_name, label: false, input_html: { class: 'input-xlarge' } %>
        </div>
      </div>
      <div class="form-group">
        <label for="profile_name" class="col-md-3 control-label">Profile name</label>
        <div class="col-md-8">
          <%= f.input :profile_name, label: false, input_html: { class: 'input-xlarge' } %>
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-md-3 control-label">Email</label>
        <div class="col-md-8">
          <%= f.input :email, label: false, input_html: { class: 'input-xlarge' } %>
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-md-3 control-label">Password</label>
        <div class="col-md-8">
          <%= f.input :password, label: false, input_html: { class: 'input-xlarge', autocomplete: 'off' } %>
        </div>
      </div>
      <div class="form-group">
        <label for="password_confirmation" class="col-md-3 control-label">Password confirmation</label>
        <div class="col-md-8">
          <%= f.input :password_confirmation, label: false, input_html: { class: 'input-xlarge', autocomplete: 'off' } %>
        </div>
      </div>
      <div class="form-actions">
        <%= f.submit "Sign up", class: 'btn btn-primary' %><br />
      </div>
        <%= render "devise/shared/links" %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2>Why Sign Up?</h2>
    <p>
      <strong>Placeholder text and kittens</strong>
      Irony consectetur pug minim, sint fap anim ugh cosby sweater lo-fi deep v. Umami mcsweeney's narwhal actually terry richardson. Aliquip banjo you probably haven't heard of them Austin kogi in, pariatur put a bird on it portland meggings tofu fanny pack veniam. Officia quis brunch cray, fashion axe craft beer ugh plaid. Meggings disrupt intelligentsia, pork belly sustainable synth proident literally magna seitan before they sold out. Four loko anim officia, consectetur godard single-origin coffee chillwave gentrify tousled ethnic vegan vice eiusmod. Cupidatat flexitarian craft beer church-key quinoa, twee skateboard direct trade sriracha typewriter tattooed chambray sartorial dolore tempor.</p>

      <p><%= image_tag "http://placekitten.com/g/100/120", class: 'pull-right' %>
        Nihil locavore mollit, nisi plaid aesthetic 90's. Butcher brunch typewriter, mlkshk messenger bag odio post-ironic seitan fanny pack nesciunt selfies enim before they sold out velit street art. Before they sold out quis plaid beard nulla commodo vero, pariatur etsy consequat pork belly PBR stumptown cillum banksy. Letterpress gluten-free DIY, bicycle rights trust fund intelligentsia fixie iphone high life church-key. Assumenda truffaut plaid, ex umami dreamcatcher aliquip. 3 wolf moon food truck officia, meggings tousled PBR commodo consectetur vero four loko enim etsy american apparel farm-to-table. Aute irony lomo incididunt +1.
      </p>
  </div>
</div>
