<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span8 offset2">
    <%= page_header do %>
      <h1>
        <% if @status.user.avatar_file_name.nil? %>
          <%= avatar_profile_link @status.user, {}, class: 'img-circle' %>
        <% else %>
          <%= image_tag(@status.user.avatar.url(:thumb), alt: @status.user.full_name, class: 'img-circle') %>
        <% end %>
        <%= @status.user.full_name %>
        <small><%= time_ago_in_words(@status.created_at) + " ago" %></small>
      </h1>
    <% end %>

    <h2>
      <%= @status.content %>
    </h2>
    <% unless @status.document.nil? %>
      <%= image_tag(@status.document.attachment.url(:large), class: "img-polaroid") %>
    <% end %>

    <hr />
    <div class="meta">
      <%= link_to 'Back', statuses_path %>
      <% if signed_in? && @status.user == current_user %>
        |
        <%= link_to "Edit", edit_status_path(@status) %> | 
        <%= link_to "Delete", @status, method: :delete, data: { confirm: "Are you sure your want to delete this status?"} %>
      <% end %>
    </div>
  </div>
</div>
