<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
	<%= @status.user.full_name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @status.content %>
</p>

<% if @status.document && @status.document.attachment? %>
	<%= status_document_link @status %>
	<hr />
<% end %>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
