<%= page_header do %>
	<h1>Activity Feed</h1>
<% end %>

<% @activities.each do |activity| %>
	<div class="media">
  	<%= avatar_profile_link activity.user, {}, class: 'pull-left' %>
    <div class="media-body">
    	<h4 class="media-heading"><%= activity.user.full_name %></h4>
      <%= render partial: "activities/#{activity.targetable_type.underscore}/#{activity.action}", locals: { activity: activity } %>
			<small><%= activity.created_at %></small>
		</div>
	</div>
<hr />
<% end %>